.img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  object-position: center center;
}

.item {
  width: 380px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #F4F4F4;
  padding: 30px;
  margin: 10px 15px;
  border-radius: 10px;
}

.title {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1.3em;
  font-weight: 800;
  margin-left: 5px;
}

.quantidade {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.qtd {
  font-size: 1.6em;
  color: #333;
  margin: 0px 15px;
}

.descricao {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.aumentar {
  border: none;
  outline: none;
  color: green;
  background: transparent;
}

.remover {
  border: none;
  outline: none;
  color: red;
  background: transparent;
}

.mensagem {
  margin: 0 auto;
}

.table{
  table-layout: auto;
  margin: 0 auto;
  width: 100%;
  text-align: left;
}